body {
    overflow: hidden;
}

#boid {
    width: 0px;
    height: 0px;

    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-left: 20px solid red;

    border-radius: 2px;

    position: absolute;
}